.propretyCard{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    margin: 0 0 !important;

    .cardOverlay{
        border-radius: 10px;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(black,0.53) 10%, rgba(black,0) 33%);
        position: absolute;
    }
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    p{
        position: absolute;
        bottom: 0;
        color: white;
        margin: 20px;
        font-size: 18px;
    }
}